*, *::after, *::before { box-sizing: border-box; }

body {
  font-family: sans-serif;
  box-sizing: content-box;
   background-color: #6969697e;
}


.app{
  display:flex;
justify-content: center;
align-items: center;

}

.ddd {
  position: relative;
  margin: 50px;
  padding:10px 30px;
  border: 2px solid hsl(210,100%,50%);
  color: hsl(210, 100%, 50%)
  font-weight: 700;
  cursor: pointer;
  background-color:red;

  will-change: transform;
  transition: transform 1s ease-out;
}

.ddd:hover {
  transform: translateX(5px);
}


.ddd::after {
  content: "";
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  width:100%;
  height: 100%;
  opacity:0;
  box-shadow: 0 2px 50px -3px hsl(220,90%,10%);
  transition: opacity 2s ease-in-out;
  will-change: opacity, transform;
  transform: translateY(0);

}
.ddd:hover::after{

opacity: 1;
}